body,
h1 {
  margin: 0;
}

#Heading {
  display: flex;
}

.GetQuoteHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.05em;
  margin: 35px 0 16px 600px;
}

/* Circle properties */
#StatusCircles {
  display: flex;
}

#CircleOne,
#CircleTwo,
#CircleThree {
  height: 66.08px;
  width: 67.43px;
  background-color: #3ec6ff;
  border-radius: 50%;
}

#CircleOne {
  border: 5px solid #000000;
  margin-left: 358px;
}

#CircleTwo,
#CircleThree {
  margin: 5px 0 0 0;
}

.CircleNumber {
  margin-top: 18px;
  color: #ffffff;
  text-align: center;
}

.ConnectorLine {
  height: 0;
  width: 393px;
  border-top: 5.29px solid #3ec6ff;
  margin-top: 35px;
}

/*Right div*/
#HeadingRight {
  width: 100%;
  text-align: right;
  margin-right: 20px; /* */
}

.HeadingRightTxt {
  font-family: "Roboto"; /*Not working*/
  font-style: normal; /*Not working*/
  font-weight: normal;
  font-size: 24px;
  color: #3ec6ff;
}

.HelpTxt {
  margin-top: 20px;
}

.ChatBubble {
  height: 67px;
  width: 67px;
  margin: 10px 0 10px 0;
}
