.HmeBody {
    width: 1920px;
    background: #F0F0F0;
    position: absolute;
    top: 385px;
    font-family: 'Nunito';
}
.HmeBody2 {
    width: 100vw;
    display: flex;
}
.OBTitle {
    margin-left: 25vw;
    margin-top: 40px;
    font-family: "Nunito";
}

.Body1 {
    width: 130px;
    height: 130px;
    margin: 30px 0px 0px 160px;
}
.Body2 {
    width: 130px;
    height: 130px;
    margin: 0px 250px;
}
.Body3 {
    width: 130px;
    height: 130px;
}

.BodyTitle1 {
    font-size: 18px;
    width: 200px;
    text-align: center;
    margin: 20px 130px;
}
.BodyTitle2 {
    font-size: 18px;
    width: 200px;
    text-align: center;
    margin: 20px 40px;
}
.BodyTitle3 {
    font-size: 18px;
    width: 150px;
    text-align: center;
    margin: 20px 0px 0px 170px;
}
.QuoteBtn2 {
    padding: 15px 15px;
    background-color: #43b8fe;
    border-radius: 24px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 510px;
    position: absolute;
    top: 400px;
}
.QuoteBtn2:hover {
    color: black;
}
/* Comparison Chart Section */

.ComparisonChart {
    width: 100vw;
    background-color: white;
}
.CC {
    font-family: "Nunito";
    font-size: 22px;
    margin-left: 480px;
    position: absolute;
    top: 500px;
}
.CompChart {
    border: 3px solid black;
    width: 60%;
    height: 300px;
    align-self: center;
    box-shadow:
    0 5px 5px 0px #333,
    5px 0 5px 0px #333; 
    margin-left: 100px;
    position: absolute;
    top: 550px;
}
.Line1 {
    border-bottom: 3px solid black;
    z-index: 2000;
    width: 90%;
    position: absolute;
    margin: 70px 0px 0px 50px;
}
.Line2 {
    border-bottom: 3px solid black;
    z-index: 2000;
    width: 90%;
    position: absolute;
    margin: 120px 0px 0px 50px;
}
.Line3 {
    border-bottom: 3px solid black;
    z-index: 2000;
    width: 90%;
    position: absolute;
    margin: 170px 0px 0px 50px;
}
.Line4 {
    border-bottom: 3px solid black;
    z-index: 2000;
    width: 90%;
    position: absolute;
    margin: 220px 0px 0px 50px;
}

.CC1, .CC2, .CC3 {
    font-size: 16px;
}
.CC1 {
    position: absolute;
    left: 370px;
}
.CC2 {
    position: absolute;
    right: 350px;
}
.CC3 {
    position: absolute;
    right: 120px;
}
.CC4 {
    position: absolute;
    font-size: 16px;
    left: 60px;
    top: 50px;
}
.CC5 {
    position: absolute;
    font-size: 16px;
    left: 60px;
    top: 100px;
}
.CC6 {
    position: absolute;
    font-size: 16px;
    left: 60px;
    top: 150px;
}
.Tick1 {
    position: absolute;
    left: 420px;
    top: 80px;
}
.Tick2 {
    position: absolute;
    left: 690px;
    top: 80px;
}
.Tick3 {
    position: absolute;
    right: 140px;
    top: 80px;
}
.Tick4 {
    position: absolute;
    left: 420px;
    top: 130px;
}
.Tick5 {
    position: absolute;
    left: 690px;
    top: 130px;
}
.Tick6 {
    position: absolute;
    left: 420px;
    top: 180px;
}
.x1 {
    position: absolute;
    left: 690px;
    top: 180px;
}
.x2 {
    position: absolute;
    right: 140px;
    top: 180px;
}
.DropDwnTitle {
    color: black;
    position: absolute;
    top: 220px;
    left: 470px;
}
.DwnArrow {
    position: absolute;
    left: 500px;
    top: 260px;
}

/* Home Body Bottom Half */
.HmeBodyWhiteCont {
    width: 100%;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 900px;
    padding: 50px;
    left: -100px;
}
.QuoteBtn3 {
    padding: 15px 15px;
    background-color: #43b8fe;
    border-radius: 24px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 30%;
}
.QuoteBtn3:hover {
    color: black;
}
.StepsTxt {
    color: black;
    margin: 50px 0px 0px 400px;
    text-decoration: underline black;
}
.BodyWhiteFlex {
    height: 100px;
    display: flex;
}
.BlueCircle1 {
    width: 30px;
    height: 30px;
    background-color: #43b8fe;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 18px; 
    z-index: 1000;
    margin: 50px 100px 0px 330px;
}
.BlueCircle2 {
    width: 30px;
    height: 30px;
    background-color: #43b8fe;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 50px 100px 0px 170px;
}
.BlueCircle3 {
    width: 30px;
    height: 30px;
    background-color: #43b8fe;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 50px 0px 0px 160px;
}
.BlueLine1 {
    border-bottom: 3px solid #43b8fe;
    z-index: 2000;
    width: 280px;
    position: absolute;
    left: 400px;
    top: 220px;
}
.BlueLine2 {
    border-bottom: 3px solid #43b8fe;
    z-index: 2000;
    width: 280px;
    position: absolute;
    left: 700px;
    top: 220px;
}
.Quote {
    color: black;
    position: absolute;
    left: 360px;
    top: 220px;
}
.Details {
    color: black;
    position: absolute;
    left: 615px;
    top: 220px;
}

/* Bottom half the the home body */
.ReviewsDiv {
    width: 100vw;
    height: 750px;
    background-color: #F0F0F0;
    padding: 20px 0px 0px 50px;
    margin-top: 30px;
}
.Review {
    color: black;
    position: absolute;
    left: 920px;
    top: 220px;
}
.Reviews1 {
    color: black;
    margin-left: 590px;
}
.Profile {
    width: 140px;
    height: 140px;
    margin-left: 570px;
}
.ProfileTxt {
    width: 420px;
    margin-left: 400px;
    text-align: center;
}

.ProfileCircleDiv {
    display: flex;
}
.ProfileCircle1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: 2px solid;
    margin-left: 580px; 
}
.ProfileCircle1:hover {
    color: #43b8fe;
    background-color: #43b8fe;
}
.ProfileCircle2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: 2px solid;
    margin-left: 20px;
}
.ProfileCircle2:hover {
    color: #43b8fe;
    background-color: #43b8fe;
}
.ProfileCircle3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: 2px solid;
    margin-left: 20px;
}
.ProfileCircle3:hover {
    color: #43b8fe;
    background-color: #43b8fe;
}
.FAQ {
    color: black;
    margin-left: 600px;
    margin-top: 40px;
}
.FAQtxt1 {
    margin-left: 80px;
}
.FAQLine1 {
    border-bottom: 3px solid black;
    z-index: 2000;
    width: 55%;
    margin-left: 80px;
}
.FAQtxt2 {
    margin-left: 80px;
}
.FAQLine2 {
    border-bottom: 3px solid black;
    z-index: 1000;
    width: 55%;
    margin-left: 80px;
}
.FAQtxt3 {
    margin-left: 80px;
}
.FAQLine3 {
    border-bottom: 3px solid black;
    z-index: 2000;
    width: 55%;
    margin-left: 80px;
}
.FAQtxt4 {
    margin-left: 80px;
}
.FAQLine4 {
    border-bottom: 3px solid black;
    z-index: 2150;
    width: 55%;   
    margin-left: 80px;
}

.DropDwnArrowCont {
    display: block;
}
.DwnArrow1 {
    position: absolute;
    margin-left: 1050px;
    top: 730px;
}
.DwnArrow2 {
    position: absolute;
    margin-left: 1050px;
    top: 780px;
}
.DwnArrow3 {
    position: absolute;
    margin-left: 1050px;
    top: 835px;
}
.DwnArrow4 {
    position: absolute;
    margin-left: 1050px;
    top: 890px;
}
.DropDwnTitle2 {
    color: black;
    margin-left: 580px;
    margin-top: 50px;
}
.DropDwnArrow2 {
    color: black;
    margin-left: 605px;
    margin-top: -30px;
}

